*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 128px;
    border-bottom: solid orange 5px;
    text-shadow: 0px 0px 10px goldenrod;
    background: -webkit-linear-gradient(orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleimg {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    top: 20px;
}

.container2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 10vw;
    height: 10vw;
}

.hero2 {
    background-color: #FFCF55;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    font-size: 24px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    width: 80vw;
    color: #3D2902;
}

h1 {
    color: #3D2902;
}

a {
    color: black;
    text-decoration: underline;
}

.product-img {
    width: 35vw;
    height: 35vw;
    object-fit: cover;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px;
}

.text-container {
    width: 70vw;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-you {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    background-color: rgba(255, 255, 255, 0.301);
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #3D2902;
    padding: 10px;
    font-weight: bold;
    outline: none;
}

.form-input:focus {
    background-color: white;
}

::placeholder {
    color: #3D2902;
    opacity: 1;
}

.form-button {
    width: 200px;
    height: 75px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #3D2902;
    background-color: rgba(255, 255, 255, 0.301);
    color: #3D2902;
    font-weight: bold;
    outline: none;
}

.form-button:hover {
    cursor: pointer;
}

form {
    margin-bottom: 10vh;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-instagram {
    width: 48px;
    height: 48px;
}

.shop-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-shadow: 0px 0px 10px goldenrod;
    background: -webkit-linear-gradient(orange, rgb(255, 166, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-inline: 20px;
}

.shop-text-container {
    position: absolute;
    left: 0;
    top: 250vh;
}

@media (max-width: 1350px)
{
    .shop-text {
        font-size: 16px;
    }
}

@media (max-width: 500px)
{
    .title {
        font-size: 96px;
    }

    p {
        font-size: 16px;
    }

    .renderer-img {
    }
}